@media (max-width: 1024px) {
  .header {
    display: none;
  }

  body .mb_header {
    display: block;
  }
  body .all_menu {
    right: 0;
  }
}

@media (max-width: 700px) {
  body > .mb_header_box {
    padding: 20px;
  }
}
